In [15]:
import pandas as pd
df = pd.read_csv('advertising_simple.csv').T
df

            0   1    2    3   4   5    6  7
TV         44  17  151  180   8  57  120  8
Radio      39  45   41   10  48  32   19  2
Newspaper  45  69   58   58  75  23   11  1
Sales      10  12   16   17   7  11   13  4

In [53]:
sample1 = "Deep learning book"
sample2 = "Machine learning algorthim"
sample3 = "Learning AI from scrath"
sample4 = "AI Vietnam"

In [54]:
sample1 = sample1.lower()
sample2 = sample2.lower()
sample3 = sample3.lower()
sample4 = sample4.lower()

In [55]:
sample1 = sample1.split()
sample2 = sample2.split()
sample3 = sample3.split()
sample4 = sample4.split()

In [56]:
vocabulary = []

for word in sample1 + sample2 + sample3 + sample4:
    if word not in vocabulary:
        vocabulary.append(word)
        
print(vocabulary)

['deep', 'learning', 'book', 'machine', 'algorthim', 'ai', 'from', 'scrath', 'vietnam']

In [57]:
length = len(vocabulary)
sample1_vec = [0]*length
sample2_vec = [0]*length
sample3_vec = [0]*length
sample4_vec = [0]*length

In [59]:
for i, word in enumerate(vocabulary):
    sample1_vec[i] = sample1.count(word)
    sample2_vec[i] = sample2.count(word)
    sample3_vec[i] = sample3.count(word)
    sample4_vec[i] = sample4.count(word)
        
print(sample1_vec)
print(sample2_vec)
print(sample3_vec)
print(sample4_vec)

[1, 1, 1, 0, 0, 0, 0, 0, 0]
[0, 1, 0, 1, 1, 0, 0, 0, 0]
[0, 1, 0, 0, 0, 1, 1, 1, 0]
[0, 0, 0, 0, 0, 1, 0, 0, 1]

In [5]:
def swap_values(a, b):
      a, b = b, a
      x = 5 y = 10
swap_values(x, y)

SyntaxError: invalid syntax (977751474.py, line 3)