In [1]:
import pandas as pd
from pandas import DataFrame

df_jul_2019 = pd.read_csv('./Data/nyc_taxi_2019-06.csv',
                           usecols=['passenger_count', 'total_amount', 'payment_type'])
df_jul_2020 = pd.read_csv('./Data/nyc_taxi_2020-06.csv',
                           usecols=['passenger_count', 'total_amount', 'payment_type'])

In [2]:
df_jul_2019['year'] = 2019
df_jul_2020['year'] = 2020
df = pd.concat([df_jul_2019, df_jul_2020], ignore_index=True)

In [3]:
df

         passenger_count  payment_type  total_amount  year
0                    1.0           2.0          4.30  2019
1                    1.0           2.0          6.30  2019
2                    1.0           2.0         18.80  2019
3                    0.0           2.0          4.30  2019
4                    1.0           1.0         15.95  2019
...                  ...           ...           ...   ...
7490779              NaN           NaN         42.58  2020
7490780              NaN           NaN         15.00  2020
7490781              NaN           NaN         22.00  2020
7490782              NaN           NaN         35.17  2020
7490783              NaN           NaN         32.98  2020

[7490784 rows x 4 columns]

> Use the corr method on df to find the correlations among the columns. How would you interpret these results?

In [4]:
df.corr()

                 passenger_count  payment_type  total_amount      year
passenger_count         1.000000      0.010713      0.000874 -0.044023
payment_type            0.010713      1.000000     -0.016876  0.041927
total_amount            0.000874     -0.016876      1.000000 -0.001984
year                   -0.044023      0.041927     -0.001984  1.000000

> Show, with a single command, the difference in descriptive statistics for total_amount beween 2019 and 2020. Round values to use no more than 2 digits after the decimal point.

In [5]:
df.loc[df.year == 2020 , 'total_amount'].describe().round(2)

count    549760.00
mean         18.77
std          15.18
min        -216.30
25%          10.70
50%          14.16
75%          20.80
max        1141.10
Name: total_amount, dtype: float64

In [6]:
df.loc[df.year == 2019 , 'total_amount'].describe().round(2)

count    6941024.00
mean          19.74
std          132.68
min         -305.80
25%           11.30
50%           14.80
75%           21.30
max       347035.05
Name: total_amount, dtype: float64

In [7]:
df.loc[df.year == 2020 , 'total_amount'].describe().round(2) - df.loc[df.year == 2019 , 'total_amount'].describe().round(2)

count   -6391264.00
mean          -0.97
std         -117.50
min           89.50
25%           -0.60
50%           -0.64
75%           -0.50
max      -345893.95
Name: total_amount, dtype: float64

> If we assume that zero-passenger trips are for delivering packages, how were those affected during the pandemic? Show the proportion of such trips in 2019 vs. 2020.

In [8]:
df.loc[(df['year'] == 2019) & 
       (df['passenger_count'] == 0), 'passenger_count'].count() / df['passenger_count'].count()

0.01722161910638708

In [9]:
df.loc[(df['year'] == 2020) & 
       (df['passenger_count'] == 0), 'passenger_count'].count() / df['passenger_count'].count()

0.0017882903473853125