>Create a data frame from four other columns (VendorID, trip_distance,tip_amount, and total_amount), specifying the dtype for each. What types are most appropriate? Can you use them directly, or must you first clean the data?

In [2]:
import numpy as np 
import pandas as pd

df = pd.read_csv("./Data/nyc_taxi_2020-01.csv",
                 usecols=['VendorID','trip_distance','tip_amount' , 'total_amount'])
df

        VendorID  trip_distance  tip_amount  total_amount
0            1.0           3.60        4.00         23.30
1            1.0           5.60        2.00         25.30
2            1.0           2.30        0.00         11.30
3            1.0           5.30        0.00         21.30
4            1.0           4.40        3.65         21.95
...          ...            ...         ...           ...
549755       NaN          12.96        2.75         42.58
549756       NaN           0.36        2.75         15.00
549757       NaN           2.36        2.75         22.00
549758       NaN           5.50        6.23         35.17
549759       NaN           9.59        0.00         32.98

[549760 rows x 4 columns]

In [3]:
df.dtypes

VendorID         float64
trip_distance    float64
tip_amount       float64
total_amount     float64
dtype: object

Loại được sử dụng là float64. Chúng ta chưa thể sử dụng ngay bộ dữ liệu này chúng ta trước hết phải làm sạch dữ liệu.

>  Instead of removing NaN values from the VendorID column, set it to a new value: 3. How does that affect your specifications and cleaning of the data?

Viêc sử dụng 3 sẽ ảnh hướng thông số của các cột như cột VendorID chỉ có 2 ID chúng ta thay NaN bằng 3 thì nó sẽ ko hợp lí.

>We’ll talk more about this in Chapter 11, but the memory_usage method allows you to see how much memory is being used by each column in a data frame. It returns a series of integers in which the index lists the columns, and the values represent the memory used by each column. Compare the memory used by the data frame with float16 (which you’ve already used) and when you use float64 instead for the final three columns