In [1]:
import requests
from io import StringIO
import pandas as pd

In [2]:
r = requests.get("https://api.blockchain.info/charts/market-price?format=csv")
data = StringIO(r.content.decode())

In [4]:
df = pd.read_csv(data,
                 header=None,
                 names=['dates', 'value'])
df

                   dates     value
0    2023-06-10 00:00:00  26483.52
1    2023-06-11 00:00:00  25852.82
2    2023-06-12 00:00:00  25933.06
3    2023-06-13 00:00:00  25904.32
4    2023-06-14 00:00:00  25921.42
..                   ...       ...
361  2024-06-05 00:00:00  70553.24
362  2024-06-06 00:00:00  71083.68
363  2024-06-07 00:00:00  70764.24
364  2024-06-08 00:00:00  69331.66
365  2024-06-09 00:00:00  69297.93

[366 rows x 2 columns]

In [5]:
df.tail(1)['value']

365    69297.93
Name: value, dtype: float64

In [16]:
df.loc[(df.value == max(df.value)) | (df.value == min(df.value))]
# df.set_index('date').agg(['idxmin', 'idxmax'])

                   dates     value
5    2023-06-15 00:00:00  25127.04
278  2024-03-14 00:00:00  73094.37