In [1]:
import pandas as pd
from pandas import Series
from pandas import DataFrame
df = DataFrame([{'product_id':23, 'name':'computer', 'wholesale_price': 500,
                'retail_price':1000, 'sales':100},
                {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':1000},
                {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':500},
                {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,
                'retail_price':1, 'sales':200},
                {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,
                'retail_price':5, 'sales':300},
                ])
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

> Show the ID and name of products whose net income is in the top 25% quantile

In [4]:
df.loc[df.wholesale_price > df.wholesale_price.quantile(0.25), ['product_id', 'name']]

   product_id            name
0          23        computer
1          96  Python Workout
2          97  Pandas Workout

> Show the ID and name of products with lower-than-average sales numbers and whose wholesale price is greater than the average.

In [6]:
df.query('sales < sales.mean() and wholesale_price > wholesale_price.mean()')[['product_id', 'name']]

   product_id      name
0          23  computer

> Show the name and wholesale and retail prices of products with IDs between 80 and 100 and that sold fewer than 400 units.

In [10]:
df.query('product_id >= 80 and product_id <= 100 and sales <= 400').loc[:,'wholesale_price':'sales']

   wholesale_price  retail_price  sales
4              3.0             5    300