In [2]:
import pandas as pd
from pandas import Series 
from pandas import DataFrame

trip_distance = pd.read_csv('./Data/taxi-distance.csv', header=None).squeeze()
passenger_count = pd.read_csv('./Data/taxi-passenger-count.csv', header=None).squeeze()
df = DataFrame({'trip_distance': trip_distance,
                'passenger_count': passenger_count})
# Calculate the interquartile range (IQR)
iqr = (df.trip_distance.quantile(0.75) - df.trip_distance.quantile(0.25))

# Calculate the lower and upper bounds for outliers
IQR1 = df.trip_distance.quantile(0.25) - 1.5*iqr
IQR2 = df.trip_distance.quantile(0.75) + 1.5*iqr

>If we define outliers to be the lowest 10% and highest 10% of values, then how many are they? Why is (or isn't) this a good measure?

In [3]:
df.query('trip_distance < trip_distance.quantile(0.1) or trip_distance > trip_distance.quantile(0.9)')

      trip_distance  passenger_count
1              0.46                1
7             11.90                4
9              0.60                1
10             0.01                3
13             0.50                2
...             ...              ...
9976          12.60                1
9978           0.38                1
9979          11.30                1
9980           9.13                1
9982           9.30                1

[1984 rows x 2 columns]

> How many short, medium, and long trips were there for trips that had only one passenger? Note that data for passenger count and trip length are from the same data set, meaning that the indexes are the same.
>
> If we're only interested in removing the non-outlier values, then we could use the scipy.stats.trimboth function on our series. It takes a second argument, the proportion we want to cut from both the top and bottom.

trimboth trong thư viện scipy chỉ quan tâm đến việc bỏ giá trị không nằm ngoài giá trị, với đối số thứ 2 là tỷ lrrj chúng ta muốn cắt từ cả cận trên và cận dưới. giả sử 0.1 thì cắt từ [0.1, 0.9]

In [5]:
%pip install scipy

Requirement already satisfied: scipy in c:\users\loctr\anaconda3\envs\aio\lib\site-packages (1.13.1)
Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\users\loctr\anaconda3\envs\aio\lib\site-packages (from scipy) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from scipy.stats import trimboth
arr = trimboth(df['trip_distance'], 0.1)
print(arr)

[0.63 0.63 0.63 ... 8.2  8.2  8.2 ]

> The scipy.stats.zscore function rescales and centers (i.e., normalizes) our data set.Our mean is set to 0, values can be above and below that value.Find all of the distances for which the absolute value of the z-score is greater than 3.

In [24]:
from scipy.stats import zscore
ar1 = zscore(df['trip_distance'])
ar1 = df.trip_distance[abs(ar1) > 3]
print(ar1)

88      23.76
238     18.32
379     16.38
509     16.82
641     19.72
        ...
9897    16.11
9899    17.48
9906    17.70
9955    15.49
9964    18.55
Name: trip_distance, Length: 306, dtype: float64