> For many pandas users, it’s rare to create a new data frame from scratch. We import a CSV file, or we perform transformations on an existing data frame (or several existing series). But sometimes we need to create a new data frame—for example, when assembling data from nonstandard sources or experimenting with new pandas techniques—and knowing how to do so can be useful.
>  
> For this exercise, I want you to create a data frame that represents a company’s inventory of five products. Each product has a unique ID number (a two-digit integer will do), name, wholesale price, retail price, and number of sales in the last month. You’re making it up, so if you’ve always wanted to be a profitable starship dealer, this is your chance! Once you have created this data frame, calculate the total net revenue from all your products.

SOUTION

In [4]:
from pandas import DataFrame
import numpy as np
df = DataFrame({'product_id' : np.random.randint(10, 90, 5),
                'name': ['a', 'b', 'c', 'd', 'f'],
                'wholesale': [52, 300, 23, 40, 10],
                'retail': [100, 25, 25, 10, 2],
                'sales': [100, 10, 200, 100, 20]}, index = list('12345'))
df

   product_id name  wholesale  retail  sales
1          83    a         52     100    100
2          68    b        300      25     10
3          55    c         23      25    200
4          41    d         40      10    100
5          25    f         10       2     20

In [9]:
new = (df['wholesale'] - df['retail'])*df['sales']
new.sum()

710