In [2]:
import pandas as pd
from pandas import Series
from pandas import DataFrame

nyc_temp = pd.read_csv('./data/nyc-temps.txt').squeeze()
a = []
for i in range(1391):
    a.append(i*3%24)
df = DataFrame({'temp': nyc_temp,
               'hour': a})
df.temp-=10

 >In this exercise, I want you to create the same two-column data frame as in the last exercise. Then, update the values in the temp column so that any value less than 0 is set to 0

In [7]:
df.loc[df['temp'] < 0,'temp'] = 0
df

          temp  hour
0       0.0000     0
1     159.6320     3
2     202.7410     6
3     250.4970     9
4     283.8110    12
...        ...   ...
1386  266.3320     6
1387  257.1790     9
1388  213.9820    12
1389  147.6720    15
1390    2.8763    18

[1391 rows x 2 columns]