> Youâ€™re going to use the online store for one final exercise. This time, I want you to
> find the IDs and names of products that have sold more than the average number of
> units.

In [1]:
import pandas as pd
from pandas import Series
from pandas import DataFrame
df = DataFrame([{'product_id':23, 'name':'computer', 'wholesale_price': 500,
                'retail_price':1000, 'sales':100},
                {'product_id':96, 'name':'Python Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':1000},
                {'product_id':97, 'name':'Pandas Workout', 'wholesale_price': 35,
                'retail_price':75, 'sales':500},
                {'product_id':15, 'name':'banana', 'wholesale_price': 0.5,
                'retail_price':1, 'sales':200},
                {'product_id':87, 'name':'sandwich', 'wholesale_price': 3,
                'retail_price':5, 'sales':300},
                ])
df

   product_id            name  wholesale_price  retail_price  sales
0          23        computer            500.0          1000    100
1          96  Python Workout             35.0            75   1000
2          97  Pandas Workout             35.0            75    500
3          15          banana              0.5             1    200
4          87        sandwich              3.0             5    300

In [6]:
df[df['sales'] > df['sales'].mean()].loc[:, ['product_id', 'name']]

   product_id            name
1          96  Python Workout
2          97  Pandas Workout

In [9]:
df.query('sales > sales.mean()')[['product_id', 'name']]

   product_id            name
1          96  Python Workout
2          97  Pandas Workout